<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"&gt;
&lt;plist version="1.0"&gt;
&lt;array&gt;
	&lt;dict&gt;
		&lt;key&gt;UIApplicationShortcutItemType&lt;/key&gt;
		&lt;string&gt;myapp.home&lt;/string&gt;
		&lt;key&gt;UIApplicationShortcutItemTitle&lt;/key&gt;
		&lt;string&gt;home&lt;/string&gt;
	&lt;/dict&gt;
	&lt;dict&gt;
		&lt;key&gt;UIApplicationShortcutItemType&lt;/key&gt;
		&lt;string&gt;myapp.search&lt;/string&gt;
		&lt;key&gt;UIApplicationShortcutItemTitle&lt;/key&gt;
		&lt;string&gt;search&lt;/string&gt;
	&lt;/dict&gt;
&lt;/array&gt;
&lt;/plist&gt;
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"&gt;
&lt;plist version="1.0"&gt;
&lt;array&gt;
	&lt;dict&gt;
		&lt;key&gt;UIApplicationShortcutItemType&lt;/key&gt;
		&lt;string&gt;myapp.home&lt;/string&gt;
		&lt;key&gt;UIApplicationShortcutItemTitle&lt;/key&gt;
		&lt;string&gt;home&lt;/string&gt;
	&lt;/dict&gt;
	&lt;dict&gt;
		&lt;key&gt;UIApplicationShortcutItemType&lt;/key&gt;
		&lt;string&gt;myapp.search&lt;/string&gt;
		&lt;key&gt;UIApplicationShortcutItemTitle&lt;/key&gt;
		&lt;string&gt;search&lt;/string&gt;
	&lt;/dict&gt;
&lt;/array&gt;
&lt;/plist&gt;&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"&gt;
&lt;plist version="1.0"&gt;
&lt;array&gt;
	&lt;dict&gt;
		&lt;key&gt;UIApplicationShortcutItemType&lt;/key&gt;
		&lt;string&gt;myapp.home&lt;/string&gt;
		&lt;key&gt;UIApplicationShortcutItemTitle&lt;/key&gt;
		&lt;string&gt;home&lt;/string&gt;
	&lt;/dict&gt;
	&lt;dict&gt;
		&lt;key&gt;UIApplicationShortcutItemType&lt;/key&gt;
		&lt;string&gt;myapp.search&lt;/string&gt;
		&lt;key&gt;UIApplicationShortcutItemTitle&lt;/key&gt;
		&lt;string&gt;search&lt;/string&gt;
	&lt;/dict&gt;
&lt;/array&gt;
&lt;/plist&gt;
</key>
	<string></string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FullScreenPics</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>74c6959f11db7982048c578bd1b27ba01ee06673</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>InstagramAppClientId</key>
	<string>77648f48cb6047a380f1c507487f49b3</string>
	<key>InstagramAppRedirectURL</key>
	<string>https://www.facebook.com/profile.php?id=100005889522470</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>cdninstagram.com</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>instagram.com</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>www.facebook.com</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeSearch</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>search</string>
			<key>UIApplicationShortcutItemType</key>
			<string>type.search</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>home</string>
			<key>UIApplicationShortcutItemType</key>
			<string>type.home</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
